body {
    background-color: black;
}

p {
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
}

::file-selector-button {
    visibility: hidden;
}

#input-el {
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 30px;
}

#input-btn {
    background-color: black;
    height: 55px;
    width: 60px;
    font-size: large;
    font-weight: bold;
    color: goldenrod;
}

#msg {
    font-size: 30px;
}
#score {
    color: aliceblue;
}

#home { 
    width: 1000px;
    background-color: black;
    color: goldenrod;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

text {
    text-align: center;
    border-width: 5 px;
    border-color: black;
    color: white;
    margin: auto;
    background-color: purple;
}

#inquiry {
    width: 1000px;
    background-color: black;
    color: goldenrod;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#answer {
    width: min-content;
    background-color: black;
    color: goldenrod;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card {
    height: 100px;
    width: 150px;
    background-color: rgb(26, 26, 126);
    color: goldenrod;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
    font-size: 75px;
    text-align: center;
    border-top: solid rgb(28, 28, 155) 15px;
    border-bottom: solid rgb(26, 26, 95) 15px;
    border-left: solid rgb(32, 32, 160) 15px;
    border-right: solid rgb(26, 26, 90) 15px;
} 

#game {
    display: flex;
    background-color: black;
    width: min-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}